body {
  background-color: black;
}

h3 {
  font-family: "Rubik", sans-serif;
  color: #ffc300;
}

/* Agregamos un ancho y un alto al mapa 
Porque sin esto no se puede dibujar el mapa*/
#map {
  height: 500px;
  width: 500px;
  background: white;
}
