body {
  margin: 0;
  padding: 0;
  background: url(../img/FondoGym.jpg) no-repeat;
  background-size: cover;
  font-family: "Rubik", sans-serif;
  height: 100vh;
}

h3 {
  font-family: "Rubik", sans-serif;
  color: #7e5109;
  font-size: 45px;
  text-align: center;
  -webkit-text-stroke: 0.9px black;
  background-color: #ffd27d;
  border-radius: 5vh;
  margin: 15px;
  padding: 25px;
  border-style: solid;
}

/* Agregamos un ancho y un alto al mapa 
Porque sin esto no se puede dibujar el mapa*/
#map {
  height: 500px;
  width: 500px;
  border-style: ridge;
  box-shadow: 10px 6px 5px #7d6608;
  border-radius: 3vh;
}

.contenedor {
  display: flex;
  justify-content: left;
  align-items: left;
}

hr {
  border-color: black;
}

#mostrarInfo {
  display: none;
}

/*boton*/
#botonMuestra {
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  color: #7e5109;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #ffd27d;
  border-color: #7e5109;
  border-width: 3px;
  border-style: solid;
  border-radius: 35px;
}
#botonOcultar {
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  color: #7e5109;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #ffd27d;
  border-color: #7e5109;
  border-width: 3px;
  border-style: solid;
  border-radius: 35px;
}

.centrarTitulo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedorGym {
  position: absolute;
  right: 50%;
  top: 25%;
  background-color: #7e5109;
  width: -800px;
  height: 250px;
}
